.header-buttons {
    display: flex;
    justify-content: flex-end;
}
.header-buttons button {
    margin-left: 100px;
}

body{
    margin: 100px;
    background-color: #f0f0f0;

}

 .nav-link {
            color: #000;
        }
