{% load static %}
<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Home page{% endblock %}</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="main-container">
        <div class="container-fluid">
            <header class="row bg-light py-3 align-items-center">
                <div class="col-2">
                    <h1 id="logo">
                        <a href="{% url 'localfood_app:home' %}">
                            <img src="{% static 'images/localfood_app/logo2.png' %}" alt="Logo">
                        </a>
                    </h1>
                </div>
                <div class="col-4 text-right">
                    <input type="text" id="search" class="form-control" placeholder="Wyszukiwarka">
                </div>
                {% if request.user.is_authenticated %}
                    {% if request.user.is_buyer %}
                        <div class="col-6 header-buttons">
                            <a class="btn btn-primary">Basket</a>
                            <a class="btn btn-secondary">Profile</a>
                        </div>
                    {% elif request.user.is_seller %}
                        <div class="col-6 header-buttons">
                            <a href="/sales/" class="btn btn-primary">Sales</a>
                            <a class="btn btn-secondary">Profile</a>
                        </div>
                    {% endif %}
                {% endif %}
            </header>
            <div class="row">
                <nav class="col-md-2 bg-light py-3">
                    <h4>Categories</h4>
                    <div class="container">
                        <table class="table">
                            <tbody>
                                {% for category in categories %}
                                    <tr>
                                        <td>{{ category.name }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </nav>
                <main class="col-md-7 py-3">
                    {% block content %}
                         {% load static %}
                            <div class="dashboard-content border-dashed p-3 m-4 view-height">
                                <div class="row border-bottom border-3 p-1 m-1">
                                    <div class="col noPadding">
                                        <h3 class="color-header text-uppercase"> Recently added</h3>
                                    </div>
                                </div>
                                <table class="table border-bottom schedules-content">
                                    <thead>
                                        <tr class="d-flex text-color-darker">
                                            <th scope="col" class="col-1">IMAGE</th>
                                            <th scope="col" class="col-2">NAME</th>
                                            <th scope="col" class="col-7">DESCRIPTION</th>
                                            <th scope="col" class="col-2 center">ACTION</th>
                                        </tr>
                                    </thead>
                                    <tbody class="text-color-lighter">
                                        {% for product in products %}
                                        <tr class="d-flex">
                                            <td class="col-1">
                                                {% if product.get_primary_image %}
                                                    <img src="{{ product.get_primary_image.file_path.url }}" alt="{{ product.name }}" class="img-fluid">
                                                {% else %}
                                                    <img src="{% static 'default-image.jpg' %}" alt="No image" class="img-thumbnail" style="width: 100px; height: auto;">
                                                {% endif %}
                                            </td>
                                            <td class="col-2">{{ product.name }}</td>
                                            <td class="col-7">{{ product.description }}</td>
                                            <td class="col-2 d-flex align-items-center justify-content-center flex-wrap">
                                                <a href="" class="btn btn-info rounded-0 text-light m-1">Details</a>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                                <div class="pagination">
                                    <span class="step-links">
                                        {% if products.has_previous %}
                                            <a href="?page=1">&laquo; first</a>
                                            <a href="?page={{ products.previous_page_number }}">previous</a>
                                        {% endif %}
                                        <span class="current">
                                            Page {{ products.number }} of {{ products.paginator.num_pages }}.
                                        </span>
                                        {% if products.has_next %}
                                            <a href="?page={{ products.next_page_number }}">next</a>
                                            <a href="?page={{ products.paginator.num_pages }}">last &raquo;</a>
                                        {% endif %}
                                    </span>
                                </div>
                            </div>
                    {% endblock %}
                </main>
                <aside class="col-md-3 bg-light py-3">
                </aside>
            </div>
        </div>
    </div>
    <!-- Bootstrap JS and dependencies -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
