{% extends 'localfood_app/base.html' %}
{% load static %}

{% block title %}
    Edit basket
{% endblock %}

{% block user_menu %}
    {% include 'localfood_app/user_menu.html' %}
{% endblock %}

{% block content %}
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">IMAGE</th>
            <th scope="col">NAME</th>
            <th scope="col">DESCRIPTION</th>
            <th scope="col">QUANTITY</th>
            <th scope="col">PRICE</th>
            <th scope="col">ACTION</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td><img src="{{ product.product.get_primary_image.file_path.url }}" alt="{{ product.product.name }}"
                     class="img-thumbnail" style="max-width: 100px;"></td>
            <td>{{ product.product.name }}</td>
            <td>{{ product.product.description }}</td>
            <td>
                <form method="post" action="" class="form-inline">
                    {% csrf_token %}
                    <input type="number" id="quantity" name="quantity" value="{{ product.quantity }}" min="1"
                           max="{{ product.product.quantity }}" class="form-control mr-2" style="width: 100px;">
                    <button type="submit" class="btn btn-primary btn-sm">Update</button>
                </form>
            </td>
            <td>{{ product.product.price }} zł</td>
            <td>
                <form method="post" action="{% url 'localfood_app:edit_basket' product.id %}" style="display:inline;">
                    {% csrf_token %}
                    <input type="hidden" name="_method" value="delete">
                    <button type="submit" class="btn btn-danger btn-sm rounded-0 m-1">Delete</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
{% endblock %}