<div class="container mt-5">
    <table class="table">
        <tbody>
        <tr>
            <td>
                <a class="nav-link text-dark" href="{% url 'localfood_app:seller_order' %}">
                    <span>Orders</span>
                </a>
            </td>
        </tr>
        <tr>
            <td>
                <a class="nav-link text-dark" href="{% url 'localfood_app:ongoing_sale' %}">
                    <span>Ongoing Sale</span>
                </a>
            </td>
        </tr>
        <tr>
            <td>
                <a class="nav-link text-dark" href="/add_product/">
                    <span>List an item</span>
                </a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
