<!DOCTYPE html>
<html lang="en">
{% block content %}
<h1>Sign up</h1>
<form method="post">
    {% csrf_token %}
    
    <div>
        <label for="{{ form.username.id_for_label }}">Username:</label>
        {{ form.username }}
        {{ form.username.errors }}
    </div>

    <div>
        <label for="{{ form.password1.id_for_label }}">Password:</label>
        {{ form.password1 }}
        {{ form.password1.errors }}
    </div>

    <div>
        <label for="{{ form.password2.id_for_label }}">Confirm Password:</label>
        {{ form.password2 }}
        {{ form.password2.errors }}
    </div>

    <div>
        <label for="{{ form.first_name.id_for_label }}">First Name:</label>
        {{ form.first_name }}
        {{ form.first_name.errors }}
    </div>

    <div>
        <label for="{{ form.last_name.id_for_label }}">Last Name:</label>
        {{ form.last_name }}
        {{ form.last_name.errors }}
    </div>

    <div>
        <label for="{{ form.email.id_for_label }}">Email:</label>
        {{ form.email }}
        {{ form.email.errors }}
    </div>

    <div>
        <label for="{{ form.account_type.id_for_label }}">Account Type:</label>
        {{ form.account_type }}
        {{ form.account_type.errors }}
    </div>

    <button type="submit">Sign up!</button>
</form>
{% endblock %}
</html>
